#define MQTT_HOST "mqtt"
#define MQTT_PORT 1883
#define MQTT_USER ""
#define MQTT_PASSWORD ""
#define MQTT_TOPIC "ble/received"
#define WIFI_SSID "MyWifiNetwork"
#define WIFI_PASSWORD "mypassword"
#define WATCHDOG_TIMEOUT 180000
#define USE_REGEX 0
#define IGNORE_REGEX "(aa:bb:cc|dd:ee:ff).*"